/* 카테고리별 추천 광고상품 */
header {
    display: flex;
    width: 1020px;
    height: auto;
    margin: 100px auto 48px auto;
}

header h1 {
    margin: 0px;
    display: block;
    width: 1020px;
}

section {
    width: 1020px;
    height: 1376px;
    margin: auto;
    position: relative;
}

section .category-best-title-sub {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-back);
}

section .category-best-title {
    color: var(--color-back);
}

h3 .category-best-title-em{
    color: var(--color-blue-600);
}

section .Life-container{
    display: flex;
    height: 634px;
    margin-top: 24px;
    position: relative;
    border-top: 1px solid var(--color-brown-300);
    border-bottom: 1px solid var(--color-brown-300);
}

section .kitchen-container{
    display: flex;
    height: 634px;
    margin-top: 24px;
    position: relative;
    border-top: 1px solid var(--color-green-700);
    border-bottom: 1px solid var(--color-green-700);
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article .title {
    padding-left: 24px;
    padding-top: 48px;
}

article .kitchen-title{
    color: var(--color-brown-300);
    margin-bottom: 8px;
}

article .kitchen-title{
    color: var(--color-green-700);
    margin-bottom: 8px;
}

article .Life-title{
    color: var(--color-brown-300);
    margin-bottom: 8px;
}

article .keyword{
    padding-left: 24px;
    padding-bottom: 32px;
    width: 174px;
}

.keyword .Life-keyword-list {
    margin-top: 12px;
    padding-top: 8px;
    color: var(--color-brown-300);
}

.keyword .kitchen-keyword-list {
    margin-top: 12px;
    padding-top: 8px;
    color: var(--color-green-700);
}

.keyword a{
    float: left;
    clear: both;
    height: 26px;
    border: 1px solid #CCCCCC;
    font-size: 12px;
    padding: 6px 10px;
    margin-top: 12px;
}



article .category-go{
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    color: var(--color-gray-700);
}

.category-go a{
    width: 6px;
    height: 10px;
    display: inline-block;
    background-image: url(/Mission-03/assets/icon/angle-right-default.svg);
    background-repeat: no-repeat;
}

.Carousel {
    position: relative;
    overflow: hidden;
}

.Carousel img {
    display: flex;
    width: 320px;
}

.Carousel-Life-title-container {
    display: flex;
    width: 260px;
    height: 90px;
    position: absolute;
    top: 483px;
    left: 30px;
    background-color: var(--color-brown-300);
    color: var(--color-white);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Carousel-kitchen-title-container {
    display: flex;
    width: 260px;
    height: 90px;
    position: absolute;
    top: 483px;
    left: 30px;
    background-color: var(--color-green-700);
    color: var(--color-white);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Carousel-Explanation {
    font-size: 14px;
    margin-top: 8px;
}

.Carousel .Carousel-navi {
    display: flex;
    position: absolute;
    left: 144px;
    bottom: 22px;
    padding: 0px;
    margin: 0px auto;
}

#hide {
    width: 0;
    height: 0;
    text-indent: -999em;
    display: inline-block;
}

.Carousel-navi .navi-list-select{
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--color-gray-700);
    list-style: none;
}

.Carousel-navi .navi-list{
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--color-gray-600);
    
}

.product-list {
    width: 523px;
    height: auto;
    margin: 0;
    padding: 9px 0px 9px 0px;
    position: relative;
}

.product-list .product {
    float: left;
    font-size: 14px;
    margin-left: 14px;
}

.product-list .product:nth-child(n+4):nth-child(-n+7) {
    margin-top: 16px;
}

.product-list a {
    width: 160px;
    height: 300px;
}

.product .name {
    margin-top: 12px;
    display: block;
    font-weight: 400;
    color: var(--color-back);
}

.product .sale-table {
    margin-top: 12px;
}

.sale-table .sale {
    display: block;
    margin-bottom: 4px;
    color: var(--color-red-500);
}

.line::after{
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray-600);
}


strong {
    display: block;
}
